# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
*.apk
*.keystore

# Backend
backend/.venv/
backend/__pycache__/
backend/**/*.pyc
backend/*.egg-info/

# IDE
.idea/
*.iml
.DS_Store
